<!--
Include Tailwind JIT CDN compiler
More info: https://beyondco.de/blog/tailwind-jit-compiler-via-cdn
-->
<script src="https://unpkg.com/tailwindcss-jit-cdn"></script>

<!-- Snippet -->
<section class="flex flex-col justify-center antialiased bg-gray-900 text-gray-200 min-h-screen">
    <div class="max-w-6xl mx-auto p-4 sm:px-6 h-full">
        <!-- Blog post -->
        <article class="max-w-sm mx-auto md:max-w-none grid md:grid-cols-2 gap-6 md:gap-8 lg:gap-12 xl:gap-16 items-center">
            <a class="relative block group" href="#0">
                <div class="absolute inset-0 bg-gray-800 hidden md:block transform md:translate-y-2 md:translate-x-4 xl:translate-y-4 xl:translate-x-8 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out pointer-events-none" aria-hidden="true"></div>
                <figure class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hidden transform md:-translate-y-2 xl:-translate-y-4 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out">
                    <img class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out" src="https://raw.githubusercontent.com/egy1st/images/main/excel/excel.jpg" width="540" height="303" alt="Blog post">
                </figure>
            </a>
            <div>
                <header>
                    <div class="mb-3">
                        <ul class="flex flex-wrap text-xs font-medium -m-1 flex-row-reverse">
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-purple-600 hover:bg-purple-700 transition duration-150 ease-in-out" href="#0">الجداول الالكترونية</a>
                            </li>
                            <li class="m-1">
                                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-blue-500 hover:bg-blue-600 transition duration-150 ease-in-out" href="#0">تحليل البيانات</a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="text-2xl lg:text-3xl font-bold leading-tight mb-2 text-right">
                        <a class="hover:text-gray-100 transition duration-150 ease-in-out" href="/quizes/">ميكروسوفت اكسيل: البدايــة</a>
                    </h3>
                </header>
                <p class="text-lg text-gray-400 flex-grow text-right">تعلم ميكروسوفت اكسيل كما لم تتعلمه من قبل من خلال هذا الكورس التمهيدى الذى يخطو بك خطوة بخطوة نحو احتراف هذه الأداة الرائعة فى تحليل البيانات</p>
                <footer class="flex items-center mt-4">
                    <a href="#0">
                        <img class="rounded-full flex-shrink-0 mr-4" src="https://raw.githubusercontent.com/egy1st/images/main/cv/maa-sm.png" width="60" height="40" alt="Author 04">
                    </a>
                    <div>
                        <a class="font-medium text-gray-200 hover:text-gray-100 transition duration-150 ease-in-out" href="#0">محمد عباس</a>
                        <span class="text-gray-700"> - </span>
                        <span class="text-gray-500">Jul 18, 2022</span>
                    </div>
                </footer>
            </div>
        </article>    
    </div>


</section>


<footer class="p-4 bg-white sm:p-6 dark:bg-gray-900">


    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="https://zerobytes.one/" class="flex items-center">
                <img src="https://raw.githubusercontent.com/egy1st/images/main/logo/logo2.png" class="mr-3 h-8" alt="FlowBite Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">01</span>
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-1">
                        <a href="https://01.zerobytes.one/ml/" class="hover:underline">DenMune</a>
                    </li>
                    <li class="mb-1">
                        <a href="https://api.zerobytes.one/number2words/demo/" class="hover:underline">Number2Words</a>
                    </li>
					<li class="mb-1">
                        <a href="http://ted.zerobytes.one/" class="hover:underline">ConnecTED English</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-1">
                        <a href="https://github.com/egy1st/" class="hover:underline ">Github</a>
                    </li>
                     <li class="mb-1">
                        <a href="https://www.facebook.com/ZeroBytes.One/" class="hover:underline">Facebook</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Privacy Policy</a>
                    </li>
                    <li class="mb-1">
                        <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">  -->
	
	<!-- Snippet -->
 
<div class="p-4 w-full text-center bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Zero Bytes</h5>
    <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">A long but enjoyable journey from 0 =====> 1</p>
    <div class="justify-center items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
        <a href="https://01.zerobytes.one/me/" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <div class="text-left">
                <div class="mb-1 text-xs">Want to know more</div>
                <div class="-mt-1 font-sans text-sm font-semibold">About me?</div>
            </div>
        </a>
        <a href="https://01.zerobytes.one" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            
<svg aria-hidden="true" class="ml-2 -mr-1 w-12 h-4" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg>
            <div class="text-left">
                <div class="mb-1 text-xs">Open source</div>
                <div class="-mt-1 font-sans text-sm font-semibold">Github</div>
            </div>
        </a>
    </div>
	<div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://zerobytes.one/" class="hover:underline">EGY1ST™</a>. All Rights Reserved.
        </span>
     </div>
</div>


    
</footer>

