<!DOCTYPE html>
<html lang="ar">

<head>
        {% block head_base %}
		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="ترتيل" />
		<title>ورتل القرآن ترتيلا</title>
		
		<meta property="og:url" content="https://www.tarteel.net/hefz?surah={{surah}}&safah={{safah}}&reciter=01&repeat=1&ayah_repeat=1" />
		<meta property="og:image:type"        content="image/jpeg" />
		<meta property="og:image"              content="https://cdn.tarteel.net/ayat/N1/img/T2/02/{{safah}}.jpg" />
        <meta property="og:image:width" content="400" />
		<meta property="og:image:height" content="600" />
		<meta property="og:image:alt" content="آية قرآنية" />
		
		
		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="{{STATIC_URL}}img/favicon.ico">
		
		
	    {% if title %}
	        <title>{{ title }}</title>
	    {% else %}
	        <title>ورتل القرآن ترتيلا</title>	
	    {% endif %}


		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
        
		
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{STATIC_URL}}css/tailwind.css" />
        <link rel="stylesheet" href="{{STATIC_URL}}css/flowbite.min.css" />		
			

		<!-- Head Libs -->
		<style>
			body {
			direction: rtl;
			text-align: right;
			}
			.selected {
				font-weight: bold;
			}
			
	   </style>
	
		
		
		<script>
		  // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
		  if (
			localStorage.getItem('color-theme') === 'dark' ||
			(!('color-theme' in localStorage) &&
			  window.matchMedia('(prefers-color-scheme: dark)').matches)
		  ) {
			document.documentElement.classList.add('dark');
		  } else {
			document.documentElement.classList.remove('dark');
		  }
		  
		  
		  function toggleFullScreen() {
			  if (!document.fullscreenElement) {
				document.documentElement.requestFullscreen();
				//alert(document.getElementById('toggle_screen_svg').getAttribute('d'));
				//document.getElementById('toggle_screen_svg').setAttribute('d') = "M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9";
				//alert(document.getElementById('toggle_screen_svg').getAttribute('d'));
				//document.getElementById("toggle_screen").innerHTML  = "شاشة صغيرة";
				
			  } else if (document.exitFullscreen) {
				document.exitFullscreen();
				document.getElementById('toggle_screen_svg').setAttribute('d') = "M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9";
				//document.getElementById("toggle_screen").innerHTML  = "شاشة كاملة";
			  }
			}
			
		function formPrpare() {
               
			document.getElementById("form_fromto").submit();
				
		 }
			
			async function formSubmit() {

				  //awaitdocument.getElementById('form_fromto').submit();	
				  document.getElementById("startButton").click();

				
				
			}
			
			
			function first() {
			  return Promise.resolve(() => document.getElementById('form_fromto').submit())
				
			}

			function second() {
			  
				return Promise.resolve(() => document.getElementById('startButton').click())
				
			}
			
			
			function sleep(ms) {
				return new Promise(resolve => setTimeout(resolve, ms))
			  }
			  
			  function submitForm() {
				return Promise.resolve(() => document.getElementById("form_fromto").submit())
				
			  }
			  
			  async function test() {
				  await submitForm();
				  console.log("Form Submitted.")
				  await second();
				  //console.log("wait ....")
				  //await sleep(200);
				  console.log("Form Clicked")
				  
			  }
			  
			 			 
									
			
		</script>
		
		
	{% endblock %}			
	</head>
 


<body onload='document.getElementById("startButton").addEventListener("click", onStart);'>
	
    
	{% block content %}
	
	
	
	
	{% endblock %}	
	


	
<!-- Vendor -->
<script src="{{STATIC_URL}}js/flowbite.js"></script>
<script src="{{STATIC_URL}}js/functions.js"></script>

<!-- Highliter js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script type="text/javascript" src ="{{STATIC_URL}}js/helpers.js"></script>
<script type="text/javascript" src ="{{STATIC_URL}}js/highlighter.js"></script>

</body>

	

<footer id="footer">
	<!-- {% include 'footer.html' %} -->			
</footer>

</html>