<!DOCTYPE html>
<html lang="ar">

<head>
        {% block head_base %}
		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="ترتيل" />
		<title>ورتل القرآن ترتيلا</title>
		
		<meta property="og:url" content="https://tarteel.net/hefz?surah={{surah}}&safah={{safah}}&reciter=01&repeat=1&ayah_repeat=1" />
		<meta property="og:image:type"        content="image/jpeg" />
		<meta property="og:image"              content="https://cdn.tarteel.net/ayat/N1/img/T2/02/{{safah}}.jpg" />
        <meta property="og:image:width" content="400" />
		<meta property="og:image:height" content="600" />
		<meta property="og:image:alt" content="آية قرآنية" />
		
		
		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="{{STATIC_URL}}img/favicon.ico">
		
		
	    {% if title %}
	        <title>{{ title }}</title>
	    {% else %}
	        <title>ورتل القرآن ترتيلا</title>	
	    {% endif %}


		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
        
		
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{STATIC_URL}}css/tailwind.css" />
        <link rel="stylesheet" href="{{STATIC_URL}}css/flowbite.min.css" />		
			

		<!-- Head Libs -->
		<style>
			body {
			direction: rtl;
			text-align: right;
			}
			.selected {
				font-weight: bold;
			}
			
	   </style>
	
		
		
		<script>
		  // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
		  if (
			localStorage.getItem('color-theme') === 'dark' ||
			(!('color-theme' in localStorage) &&
			  window.matchMedia('(prefers-color-scheme: dark)').matches)
		  ) {
			document.documentElement.classList.add('dark');
		  } else {
			document.documentElement.classList.remove('dark');
		  }
		  
		  
		  function toggleFullScreen() {
			  if (!document.fullscreenElement) {
				document.documentElement.requestFullscreen();
				//alert(document.getElementById('toggle_screen_svg').getAttribute('d'));
				//document.getElementById('toggle_screen_svg').setAttribute('d') = "M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9";
				//alert(document.getElementById('toggle_screen_svg').getAttribute('d'));
				//document.getElementById("toggle_screen").innerHTML  = "شاشة صغيرة";
				
			  } else if (document.exitFullscreen) {
				document.exitFullscreen();
				document.getElementById('toggle_screen_svg').setAttribute('d') = "M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9";
				//document.getElementById("toggle_screen").innerHTML  = "شاشة كاملة";
			  }
			}
			
			
			function showMultiCohort(mode) {
			  var x = document.getElementById("div-multi-cohort");
			  //if (x.style.display === "none") {
			  if (mode === 'on') {
				 x.style.display = "block";
			  }  else if (mode === 'off') {
					x.style.display = "none";
			  } 
			  
			}
			
			function showHefSection(mode) {
			  var hefz = document.getElementById("div-hefz-section");
			  var listen = document.getElementById("div-listen-section");
			  var hefz_btn = document.getElementById("hefz_btn");
			  if (hefz.style.display === "none") {
				 hefz.style.display = "block";
				 listen.style.display = "none";
				 //hefz_btn.checked = True;
			  } else if (hefz.style.display === "block") {
					hefz.style.display = "none";
				    listen.style.display = "block";
					//hefz_btn.checked = False;
			  } 
			  
			}
			

          
         document.addEventListener("keydown", function(e) {
			        //alert(e.keyCode);
					if (e.keyCode === 39) {
					
					//console.log('Key "${e.key}" pressed [event: keydown]');
					window.location.href= "{{ url_for('index', surah=surah, ayah=next_ayah, reciter=reciter) }}" ;
					}
					
					else if (e.keyCode === 37) {
					
					//console.log('Key "${e.key}" pressed [event: keydown]');
					window.location.href= "{{ url_for('index', surah=surah, ayah=prev_ayah, reciter=reciter) }}" ;
					}
					
					else if (e.keyCode === 33) {
					
						window.location.href="{{ url_for('hefz', surah=surah, safah=safah+1, reciter=reciter, repeat=repeat, ayah_repeat=ayah_repeat, to_surah=to_surah ) }}"
					}
					
					else if (e.keyCode === 34) {
					
						window.location.href="{{ url_for('hefz', surah=surah, safah=safah+1, reciter=reciter, repeat=repeat, ayah_repeat=ayah_repeat, to_surah=to_surah) }}"
					}
					
					
					
					
				 
		});		
			
	
// Submit handler
// this code for any future needs but it does not do any thing to the program right now
const form_dummy = document.getElementById("form_fromto");		
		
// Submit form via AJAX 
async function submitForm() {

  const response = await fetch("/hefz", {
    method: "POST",
    body: new FormData(form) 
  });

  return response;

}

form.addEventListener("submit", async e => {
  
  e.preventDefault(); // prevent default submit
  
  const response = await submitForm();

  if(response.ok) {
    window.location = "{{ url_for('hefz') }}"; // redirect on success
  }

});

	
		</script>
		
		
	{% endblock %}			
	</head>
 


<body>
	
    
	{% block content %}
	
	
	
	
	{% endblock %}	
	


	
<!-- Vendor -->
<script src="{{STATIC_URL}}js/flowbite.js"></script>
<script src="{{STATIC_URL}}js/functions.js"></script>

<!-- Highliter js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script type="text/javascript" src ="{{STATIC_URL}}js/helpers.js"></script>
<script type="text/javascript" src ="{{STATIC_URL}}js/highlighter.js"></script>

</body>

	

<footer id="footer">
	<!-- {% include 'footer.html' %} -->			
</footer>

</html>