{% extends "base.html" %}
<html lang="en">
<head>
    {% block head_base %}
	 {{ super() }}
	  
	{% endblock %}	

</head>

<body>
{% block content %}

<div id="top_line">
<div>
{% if  safah is divisibleby 2 %}
		
<div class="grid grid-cols-3 gap-0">
<div id="firstDiv">
{% include 'card.html' %}
</div>
<div id="secondDiv" class="col-span-2">
{% include 'main.html' %}
</div>
</div>
{% else %}

<div class="grid grid-cols-3 gap-0">
<div id="secondDiv" class="col-span-2">
{% include 'main.html' %}
</div>
<div id="firstDiv">
{% include 'card.html' %}
</div>
</div>
{% endif %}
</div>
<div id="bottom_line">

<div>
{% include 'drawer.html' %}
</div>

<script> 
  data_dic = {{data_dic|safe}} ;
  //console.log(data_dic);

  const img = document.getElementById("ayahImage"); 
  const coordsTextarea = document.getElementById("coords"); 
  const myArray = coordsTextarea.value.split(":");
  let cur_ayah = myArray[1];
  cur_ayah = (parseInt(cur_ayah)-1).toString();
  let basecur_ayah = cur_ayah;
  let repeat = {{repeat|int}};
  let selection_count = {{selection_count|int}};
  let ayah_repeat = {{ayah_repeat|int}};
  //let = flipper = {{safah}} ;
  let scroller = 1 ;
  let tmp_scroller = 0 ;
  let ayahCount = 1;
  let audioPointer = 0;
  let audio; 
  let tmp_repeat =0;
  let audio_basePointer = 0;
  
  
  function playNext() { 
    if (tmp_repeat < audioArray.length){
    //if (audioPointer < audioArray.length) { 
	  
	 
	  audio = new Audio(audioArray[audioPointer]); 
      audio.addEventListener("ended", playNext); 
	  audio.play();
	  //console.log(coordsTextarea.value);
	  
	  
	  
	 if  (audioPointer % ayah_repeat == 0) {
	 
	  audio_basePointer += 1 ;
	  cur_ayah = (parseInt(cur_ayah) + 1).toString() ;
	  coordsTextarea.value = myArray[0] + ":" + cur_ayah ;
	  
	 
	  }
	  
	  console.log(audioPointer, audio_basePointer); 
	  onRefreshPress();
	 
	 
     if (audio_basePointer in data_dic ){
		//console.log("found", audio_basePointer);
		tmp_scroller = 0 ;
	    scrollMe("Top")
		ayahCount = data_dic[audio_basePointer]['count'] ;
		page  = data_dic[audio_basePointer]['page'] ;
		scroller = data_dic[audio_basePointer]['scroll'] ;
		//console.log("Ayah count: " + ayahCount.toString());
		
	 
	 window.gPagePath =  "https://cdn.tarteel.net/ayat/N1/img/T2/02/" + data_dic[audio_basePointer]['page'] + ".jpg" ; //maa it works amazingly
	 window.gData = data_dic[audio_basePointer]['data'];
	 window.gValues = {{values}};
	 reorderDiv(page);
	 //flipper += 1;
	 
	 onRefreshPress();
	 //audio_basePointer+=1;
 
 
	} 
	
	audioPointer += 1;	 
	//console.log(selection_count);
	if (audioPointer % (selection_count * ayah_repeat) == 0 ) {
	//alert(audioPointer, selection_count, ayah_repeat)
	console.log(selection_count);
	audioPointer =0;
	audio_basePointer = 0;
	cur_ayah = basecur_ayah;
	}
	 
	console.log (audioPointer, tmp_scroller, scroller, scroller*ayah_repeat);
	if (tmp_scroller > (scroller*ayah_repeat ) ) {
		 scrollMe("Bottom");
		}
	  tmp_scroller += 1 ; 
	
     //console.log(tmp_scroller, scroller	 )
	 
    } else { // loop through ayat
      console.log("finished"); 
    }
	
   

//} 
  tmp_repeat += 1;
  	 
  
  }
		 
  function onStart() { 
    if (audio) { 
      audio.pause(); 
    } 
    console.log("start"); 
    audioPointer = 0; 
    playNext(); 
  } 
  
     		 
  const startButton = document.getElementById("startButton"); 
  startButton.addEventListener("click", onStart); 
  
  const audioArray = [ 
    {{to_repeat|safe}}
  ]; 
  
  const reloadCss = () => {
	 const links = document.getElementsByTagName("link");
	  for (const link of links) {

		if (link.rel === "stylesheet") {
				if (link.href === "{{STATIC_URL}}css/tailwind-left.css") {
						link.href = "{{STATIC_URL}}css/tailwind-right.css";
				} else if (link.href === "{{STATIC_URL}}css/tailwind-right.css") {
						link.href = "{{STATIC_URL}}css/tailwind-left.css";
				}
		 }
	   }
	};
	
	
  function reorderDiv(flipper) {
      if (flipper % 2 == 0) {
	  document.getElementById("firstDiv").style.order = "1";
	  document.getElementById("secondDiv").style.order = "2";
	  document.getElementById("myCanvas").style = "border:1px solid #c3c3c3; float:left";
	  } else {
	   document.getElementById("firstDiv").style.order = "2";
	   document.getElementById("secondDiv").style.order = "1";
	  document.getElementById("myCanvas").style = "border:1px solid #c3c3c3; float:right";
	  
	  }
     }
	 
	 function scrollMe(to) {
	     //alert(half, count, half >= count/2);
	     if (to === 'Top' ){
		 const bottomDiv = document.getElementById("top_line");
		 bottomDiv.scrollIntoView();
		 } else if (to === 'Bottom' ){
		 const bottomDiv = document.getElementById("bottom_line");
		 bottomDiv.scrollIntoView();
		 }
		 

	 }
  
  
  
  
</script> 


{% endblock %}	




</body>
</html>
