{% extends "base.html" %}
<html lang="en">
<head>
    {% block head_base %}
	 {{ super() }}
	  
	{% endblock %}	

</head>

<body>
{% block content %}

<div id="top_line">
<div>
{% if  safah is divisibleby 2 %}
		
<div class="grid grid-cols-3 gap-0">
<div id="firstDiv">
{% include 'card.html' %}
</div>
<div id="secondDiv" class="col-span-2">
{% include 'main.html' %}
</div>
</div>
{% else %}

<div class="grid grid-cols-3 gap-0">
<div id="secondDiv" class="col-span-2">
{% include 'main.html' %}
</div>
<div id="firstDiv">
{% include 'card.html' %}
</div>
</div>
{% endif %}
</div>
<div id="bottom_line">


<script> 
  data_dic = {{data_dic|safe}} ;
  parts_dic =  {{parts_dic|safe}} ;	 
  //console.log(data_dic);

  const img = document.getElementById("ayahImage"); 
  const coordsTextarea = document.getElementById("coords"); 
  const myArray = coordsTextarea.value.split(":");
  const QuranParts = {{QuranParts|safe}} ;
  let cur_ayah = myArray[1];
  cur_ayah = (parseInt(cur_ayah)-1).toString();
  const basecur_ayah = cur_ayah;
  let surah = {{surah|int}} ;
  const base_surah = surah;
  let ayah_count = {{ayahCount|int}} ;
  let surah_ayah_count =  {{ayahCount}}[surah-1] ;
  let repeat = {{repeat|int}};
  let selection_count = {{selection_count|int}};
  let ayah_repeat = {{ayah_repeat|int}};
  let = flipper = {{safah}} ;
  let scroller = 1 ;
  let tmp_scroller = 0 ;
  let ayahCount = 1;
  let audioPointer = 0;
  let audio; 
  let tmp_repeat =0;
  let audio_basePointer = 0;
  
  
  function playNext() { 
    if (tmp_repeat < audioArray.length){
    //if (audioPointer < audioArray.length) { 
	  
	 
	  audio = new Audio(audioArray[audioPointer]); 
      audio.addEventListener("ended", playNext); 
	  audio.play();
	  //console.log(coordsTextarea.value);
	  
	  
	 console.log(audioPointer); 
	 if  (audioPointer % ayah_repeat == 0) {
	 
	  audio_basePointer += 1 ;
	  if (cur_ayah < surah_ayah_count) {
	      cur_ayah = (parseInt(cur_ayah) + 1).toString() ;
		  } else {
		  cur_ayah = '1' ;
		  surah += 1;
		  surah_ayah_count =  {{ayahCount}}[surah-1] ;
		  }
	  coordsTextarea.value = surah + ":" + cur_ayah ;
	  
	 
	  }
	  
	  //console.log(audioPointer, audio_basePointer); 
	  onRefreshPress();
	 
	 
     if (audio_basePointer in data_dic ){
		//console.log("found", audio_basePointer);
		tmp_scroller = 0 ;
	    scrollMe("Top")
		ayahCount = data_dic[audio_basePointer]['count'] ;
		page  = data_dic[audio_basePointer]['page'] ;
		scroller = data_dic[audio_basePointer]['scroll'] ;
		//console.log("Ayah count: " + ayahCount.toString());
		
	 
	 window.gPagePath =  "https://cdn.tarteel.net/ayat/N1/img/T2/02/" + data_dic[audio_basePointer]['page'] + ".jpg" ; //maa it works amazingly
	 //console.log(window.gPagePath)
	 window.gData = data_dic[audio_basePointer]['data'];
	 window.gValues = {{values}};
	 reorderDiv(page);
	 //flipper += 1;
	 
	 onRefreshPress();
	 //audio_basePointer+=1;
 
 
	} 
	
	console.log(audioPointer, scroller);
	audioPointer += 1;	 

	//console.log(selection_count);
	console.log(selection_count);
	if (audioPointer % (selection_count * ayah_repeat) == 0 ) {
	audioPointer =0;
	audio_basePointer = 0;
	cur_ayah = basecur_ayah;
	surah = base_surah ;
	surah_ayah_count =  {{ayahCount}}[surah-1] ;
	console.log(scroller);
	}
	 
	//console.log (audioPointer, tmp_scroller, scroller, scroller*ayah_repeat);
	if (tmp_scroller > (scroller*ayah_repeat ) ) {
		 scrollMe("Bottom");
		}
	  tmp_scroller += 1 ; 
	
     //console.log(tmp_scroller, scroller	 )
	 
    } else { // loop through ayat
      console.log("finished"); 
    }
	
   

//} 
  tmp_repeat += 1;
  	 
  
  }
		 
  function onStart() { 
    if (audio) { 
      audio.pause(); 
    } 
    console.log("start"); 
    audioPointer = 0; 
    playNext(); 
  } 
  
     		 
  const startButton = document.getElementById("startButton"); 
  startButton.addEventListener("click", onStart); 
  
  const audioArray = [ 
    {{to_repeat|safe}}
  ]; 
  
  const reloadCss = () => {
	 const links = document.getElementsByTagName("link");
	  for (const link of links) {

		if (link.rel === "stylesheet") {
				if (link.href === "{{STATIC_URL}}css/tailwind-left.css") {
						link.href = "{{STATIC_URL}}css/tailwind-right.css";
				} else if (link.href === "{{STATIC_URL}}css/tailwind-right.css") {
						link.href = "{{STATIC_URL}}css/tailwind-left.css";
				}
		 }
	   }
	};
	
	
  function reorderDiv(flipper) {
      if (flipper % 2 == 0) {
	  document.getElementById("firstDiv").style.order = "1";
	  document.getElementById("secondDiv").style.order = "2";
	  document.getElementById("myCanvas").style = "border:1px solid #c3c3c3; float:left";
	  } else {
	   document.getElementById("firstDiv").style.order = "2";
	   document.getElementById("secondDiv").style.order = "1";
	   document.getElementById("myCanvas").style = "border:1px solid #c3c3c3; float:right";
	  
	  }
     }
	 
	 function scrollMe(to) {
	     //alert(half, count, half >= count/2);
	     if (to === 'Top' ){
		 const bottomDiv = document.getElementById("top_line");
		 bottomDiv.scrollIntoView();
		 } else if (to === 'Bottom' ){
		 const bottomDiv = document.getElementById("bottom_line");
		 bottomDiv.scrollIntoView();
		 }
		 

	 }
  
  
    function fnSurahSelected() {
     	 
	var valueSelected = document.getElementById("surahlist").value ;
    document.getElementById("surah").value = valueSelected ;
	document.getElementById("ayah").value = '1' ;
	document.getElementById("to_ayah").value = {{ayahCount}}[valueSelected-1] ;
	document.getElementById("to_surah").value = valueSelected ;
	
    }
	
	function fnSurahNumSelected() {
     	 
	var valueSelected = (parseInt(document.getElementById("surah").value) ).toString() ;
    document.getElementById("surahlist").value = valueSelected ;
	valueSelected_1 = (parseInt(valueSelected) -1).toString();
	document.getElementById("ayah").value = '1'  ;
	document.getElementById("to_ayah").value = {{ayahCount}}[valueSelected_1]  ;
	
    }
	
	function fnPartChanged() {
   
	var partSelected = parseInt(document.getElementById("partlist").value) ;
	//alert(valueSelected);
    //document.getElementById("quarterlist").value = '1' ;
	document.getElementById("quran_part").innerHTML =  'الجزء: ' + QuranParts[partSelected] ;


	document.getElementById("ayah").value = parts_dic[partSelected]['hezb1']['q1']['from_ayah']  ;
	document.getElementById("surah").value = parts_dic[partSelected]['hezb1']['q1']['from_surah']  ;
	
	document.getElementById("to_ayah").value = parts_dic[partSelected]['hezb2']['q4']['to_ayah']  ;
	document.getElementById("to_surah").value = parts_dic[partSelected]['hezb2']['q4']['to_surah']  ;
	
	
    }
	
	function fnHezbChanged() {
		var partSelected = parseInt(document.getElementById("partlist").value)
		var hezbSelected = parseInt(document.getElementById("hezblist").value) ;
		document.getElementById("quran_hezb").innerHTML =  'الحزب: ' + QuranParts[hezbSelected] ;

		if (hezbSelected == 1) {
			document.getElementById("ayah").value = parts_dic[partSelected]['hezb1']['q1']['from_ayah']  ;
			document.getElementById("surah").value = parts_dic[partSelected]['hezb1']['q1']['from_surah']  ;
			
			document.getElementById("to_ayah").value = parts_dic[partSelected]['hezb1']['q4']['to_ayah']  ;
			document.getElementById("to_surah").value = parts_dic[partSelected]['hezb1']['q4']['to_surah']  ;
		}
		
		else if (hezbSelected == 2) {
			document.getElementById("ayah").value = parts_dic[partSelected]['hezb2']['q1']['from_ayah']  ;
			document.getElementById("surah").value = parts_dic[partSelected]['hezb2']['q1']['from_surah']  ;
			
			document.getElementById("to_ayah").value = parts_dic[partSelected]['hezb2']['q4']['to_ayah']  ;
			document.getElementById("to_surah").value = parts_dic[partSelected]['hezb2']['q4']['to_surah']  ;
		}
		
		else if (hezbSelected == 31) {
			document.getElementById("ayah").value = parts_dic[partSelected]['hezb1']['q1']['from_ayah']  ;
			document.getElementById("surah").value = parts_dic[partSelected]['hezb1']['q1']['from_surah']  ;
			
			document.getElementById("to_ayah").value = parts_dic[partSelected]['hezb2']['q4']['to_ayah']  ;
			document.getElementById("to_surah").value = parts_dic[partSelected]['hezb2']['q4']['to_surah']  ;
		}
	
	
    }
	
	
	function fnQuarterChanged() {
	
		var partSelected = parseInt(document.getElementById("partlist").value)
		var hezbSelected = parseInt(document.getElementById("hezblist").value) ;
		var quarterSelected = parseInt(document.getElementById("hezblist").value) ;
		let hezb = 'hezb1' ;
		document.getElementById("quran_quarter").innerHTML =  'الربع: ' + QuranParts[quarterSelected] ;
		
		if (hezbSelected == 1) {
			hezb == 'hezb1' ;
		} else if (hezbSelected == 2) {
			hezb == 'hezb2' ;
			}

		if (quarterSelected == 1) {
			document.getElementById("ayah").value = parts_dic[partSelected][hezb]['q1']['from_ayah']  ;
			document.getElementById("surah").value = parts_dic[partSelected][hezb]['q1']['from_surah']  ;
			
			document.getElementById("to_ayah").value = parts_dic[partSelected][hezb]['q1']['to_ayah']  ;
			document.getElementById("to_surah").value = parts_dic[partSelected][hezb]['q1']['to_surah']  ;
		}
		
		else if (quarterSelected == 2) {
			document.getElementById("ayah").value = parts_dic[partSelected][hezb]['q2']['from_ayah']  ;
			document.getElementById("surah").value = parts_dic[partSelected][hezb]['q2']['from_surah']  ;
			
			document.getElementById("to_ayah").value = parts_dic[partSelected][hezb]['q2']['to_ayah']  ;
			document.getElementById("to_surah").value = parts_dic[partSelected][hezb]['q2']['to_surah']  ;
		}
		
		else if (quarterSelected == 3) {
			document.getElementById("ayah").value = parts_dic[partSelected][hezb]['q3']['from_ayah']  ;
			document.getElementById("surah").value = parts_dic[partSelected][hezb]['q3']['from_surah']  ;
			
			document.getElementById("to_ayah").value = parts_dic[partSelected][hezb]['q3']['to_ayah']  ;
			document.getElementById("to_surah").value = parts_dic[partSelected][hezb]['q3']['to_surah']  ;
		}
		
		else if (quarterSelected == 4) {
			document.getElementById("ayah").value = parts_dic[partSelected][hezb]['q4']['from_ayah']  ;
			document.getElementById("surah").value = parts_dic[partSelected][hezb]['q4']['from_surah']  ;
			
			document.getElementById("to_ayah").value = parts_dic[partSelected][hezb]['q4']['to_ayah']  ;
			document.getElementById("to_surah").value = parts_dic[partSelected][hezb]['q4']['to_surah']  ;
		}
		
		
		else if (quarterSelected == 32) {
			document.getElementById("ayah").value = parts_dic[partSelected][hezb]['q1']['from_ayah']  ;
			document.getElementById("surah").value = parts_dic[partSelected][hezb]['q1']['from_surah']  ;
			
			document.getElementById("to_ayah").value = parts_dic[partSelected][hezb]['q4']['to_ayah']  ;
			document.getElementById("to_surah").value = parts_dic[partSelected][hezb]['q4']['to_surah']  ;
		}
		
		
	
    }
	
	

  
</script> 


{% endblock %}	




</body>
</html>
