<!-- Dropdown menu -->
<div class="mx-left max-w-md bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">

<h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">القارئ</h3>
<ul class="grid gap-6 w-full md:grid-cols-3">
<li>
	
	
<button id="dropdownHelperRadioButton" data-dropdown-toggle="dropdownHelperRadio" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">ترتيل <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>


<!-- Dropdown menu -->
<div id="dropdownHelperRadio" class="hidden z-10 w-60 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 block" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(257px, 70px);" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom">
    <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHelperRadioButton">
      <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R1-01']}} onchange='this.form.submit();' type="radio" name="reciters" id="R1-01" value="R1-01" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-4" class="font-medium text-gray-900 dark:text-gray-300">
                <div>محمود خليل الحصرى</div>
                <p id="helper-radio-text-4" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
      <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R1-02']}} onchange='this.form.submit();' type="radio" name="reciters" id="R1-02" value="R1-02" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-5" class="font-medium text-gray-900 dark:text-gray-300">
                <div>محمد صديق المنشاوى</div>
                <p id="helper-radio-text-5" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
      <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input  {{radioReciters['R1-03']}} onchange='this.form.submit();' type="radio" name="reciters" id="R1-03" value="R1-03" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-6" class="font-medium text-gray-900 dark:text-gray-300">
                <div>عبد الباسط عبد الصمد</div>
                <p id="helper-radio-text-6" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
	   <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R1-04']}} onchange='this.form.submit();' type="radio" name="reciters" id="R1-04" value="R1-04" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-6" class="font-medium text-gray-900 dark:text-gray-300">
                <div>محمود على البنا</div>
                <p id="helper-radio-text-6" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
	   <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R1-05']}} onchange='this.form.submit();' type="radio" name="reciters" id="R1-05" value="R1-05" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-6" class="font-medium text-gray-900 dark:text-gray-300">
                <div>مصطفى اسماعيل</div>
                <p id="helper-radio-text-6" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
	   <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R1-06']}} onchange='this.form.submit();' type="radio" name="reciters" id="R1-06" value="R1-06" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-6" class="font-medium text-gray-900 dark:text-gray-300">
                <div>أحمد نعينع</div>
                <p id="helper-radio-text-6" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
	   <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R1-07']}} onchange='this.form.submit();' type="radio" name="reciters" id="R1-07" value="R1-07" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-6" class="font-medium text-gray-900 dark:text-gray-300">
                <div>على الحذيفى</div>
                <p id="helper-radio-text-6" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
    </ul>
</div>


</li><li>


<button id="dropdownHelperRadioButton3" data-dropdown-toggle="dropdown3" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">تعليم <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>


<!-- Dropdown menu -->
<div id="dropdown3" class="hidden z-10 w-60 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 block" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(257px, 70px);" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom">
    <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHelperRadioButton3">
      <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R0-01']}} onchange='this.form.submit();'  type="radio" name="reciters" id="R0-01" value="R0-01" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-4" class="font-medium text-gray-900 dark:text-gray-300">
                <div>محمود خليل الحصرى</div>
                <p id="helper-radio-text-4" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
	  
	   <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R0-08']}} onchange='this.form.submit();'  type="radio" name="reciters" id="R0-08" value="R0-08" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-4" class="font-medium text-gray-900 dark:text-gray-300">
                <div>أيمن سويد</div>
                <p id="helper-radio-text-4" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
	  	  
</div>


	  

</li><li>

<button id="dropdownHelperRadioButton2" data-dropdown-toggle="dropdown2" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">تجويد <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>


<!-- Dropdown menu -->
<div id="dropdown2" class="hidden z-10 w-60 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 block" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(257px, 70px);" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom">
    <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHelperRadioButton2">
      <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R2-01']}} onchange='this.form.submit();'  type="radio" name="reciters" id="R2-01" value="R2-01" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-1-R2" class="font-medium text-gray-900 dark:text-gray-300">
                <div>محمود خليل الحصرى</div>
                <p id="helper-radio-text-1-R2" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
	  
	   <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R2-02']}} onchange='this.form.submit();'  type="radio" name="reciters" id="R2-02" value="R2-02" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-2-R2" class="font-medium text-gray-900 dark:text-gray-300">
                <div>محمد صديق المنشاوى</div>
                <p id="helper-radio-1-R2" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
	  
	   <li>
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <div class="flex items-center h-5">
              <input {{radioReciters['R2-03']}} onchange='this.form.submit();' type="radio" name="reciters" id="R2-03" value="R2-03" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
          <div class="ml-2 text-sm">
              <label for="helper-radio-3-R2" class="font-medium text-gray-900 dark:text-gray-300">
                <div>عبد الباسط عبد الصمد</div>
                <p id="helper-radio-3-R2" class="hidden text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
          </div>
        </div>
      </li>
</div>	  



</li>
</ul>
<br>
<div class="ml-2 text-sm">
              <label for="current_reciter" class="font-medium text-gray-900 dark:text-gray-300">
                <div>{{mode_type[mode]}} {{reciter_names[reciter]}}</div>
                <p id="helper-radio-3-R2" class="text-xs font-normal text-gray-500 dark:text-gray-300">قراءة حفص عن عاصم</p>
              </label>
</div>

</div>



